In [22]:
import pandas as pd
import numpy as np

new_db = pd.read_csv('~/protein-protein_interactions/FINAL_SEC_STR')

In [23]:
new_db

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,class,seq_a_0,seq_a_1,seq_a_2,seq_a_3,seq_a_4,seq_a_5,seq_a_6,...,second_struct_b_788,second_struct_b_789,second_struct_b_790,second_struct_b_791,second_struct_b_792,second_struct_b_793,second_struct_b_794,second_struct_b_795,second_struct_b_796,second_struct_b_797
0,Q6ZNK6,Q9Y4K3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Q9NR31,Q15797,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Q9NPY3,P02745,0,7,8,8,3,0,7,4,...,0,0,0,0,0,0,0,0,0,0
3,Q99576,O43524,0,2,4,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,P04003,P25942,0,4,1,5,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,Q99759,Q13163,1,0,4,4,3,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1810,Q99759,Q13163,1,0,4,4,3,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1811,Q99759,Q13163,1,0,4,4,3,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1812,O00161,O95295,1,1,4,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1813,O00161,O95295,1,1,4,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
d = []
for i in range(0, 1814): 
    if [new_db['UNIPROT_SYMBOL_A'][i], new_db['UNIPROT_SYMBOL_B'][i]] not in d:
        d.append([new_db['UNIPROT_SYMBOL_A'][i], new_db['UNIPROT_SYMBOL_B'][i]])

In [43]:
len(d)

1258

In [46]:
lst = []
for i in range(0, 1258):
    for j in range(0, 1814):
        if new_db['UNIPROT_SYMBOL_A'][j] == d[i][0] and new_db['UNIPROT_SYMBOL_B'][j] == d[i][1]:
            lst.append(j)
            break

In [47]:
len(lst)

1258

In [48]:
new = new_db.loc[lst]

In [50]:
new = new.reset_index(drop=True)
new

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,class,seq_a_0,seq_a_1,seq_a_2,seq_a_3,seq_a_4,seq_a_5,seq_a_6,...,second_struct_b_788,second_struct_b_789,second_struct_b_790,second_struct_b_791,second_struct_b_792,second_struct_b_793,second_struct_b_794,second_struct_b_795,second_struct_b_796,second_struct_b_797
0,Q6ZNK6,Q9Y4K3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Q9NR31,Q15797,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Q9NPY3,P02745,0,7,8,8,3,0,7,4,...,0,0,0,0,0,0,0,0,0,0
3,Q99576,O43524,0,2,4,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,P04003,P25942,0,4,1,5,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,Q14493,Q8IV48,1,0,0,1,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
1254,Q8WWN9,Q99418,1,0,1,2,1,0,3,0,...,0,0,0,0,0,0,0,0,0,0
1255,O94992,O60563,1,7,1,2,1,2,6,0,...,0,0,0,0,0,0,0,0,0,0
1256,Q99759,Q13163,1,0,4,4,3,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1257,O00161,O95295,1,1,4,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
X_1 = new.drop(['class', 'UNIPROT_SYMBOL_A', 'UNIPROT_SYMBOL_B'], axis=1)
y_1 = new['class']

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, test_size = 0.2, random_state = 42)
def rf(X_train, y_train):
    clf = RandomForestClassifier(random_state=42)
    par = {'n_estimators' : range(5, 45), 'max_depth' : range(5, 25)}
    gr = GridSearchCV(clf, par, cv=5) 
    gr.fit(X_train, y_train)
    return gr

In [53]:
gr_1 = rf(X_train_1, y_train_1)

In [54]:
gr_1.best_params_

{'max_depth': 19, 'n_estimators': 36}

In [55]:
best_clf_1 = gr_1.best_estimator_

In [56]:
y_pred_1 = best_clf_1.predict(X_test_1)

In [57]:
best_clf_1.score(X_test_1, y_test_1)

0.8690476190476191