In [171]:
import pandas as pd
import numpy as np
import os

После работы с Jpred API имеем вторичные структуры белков из рассматриваемой таблицы. Закодируем их, сопоставив C(-), E, H соответственно 1, 2 и 3. Также сделаем их всех одинаковой длины, приняв за длину по умолчанию наибольшую длину и дополнив до нее нулями.

In [172]:
dir_1 = '/home/yanina/protein-protein_interactions/sec_str_a/'
dir_2 = '/home/yanina/protein-protein_interactions/sec_str_a_dig'
max_size_1 = 796
dir_3 = '/home/yanina/protein-protein_interactions/sec_str_b/'
dir_4 = '/home/yanina/protein-protein_interactions/sec_str_b_dig'
max_size_2 = 798

def transformIntoDigits(dir_, dir_2, max_size):
    for filename in os.listdir(dir_):
        text = open(dir_ + filename).read()
        new_text = text.replace('-', '1')
        new_text = new_text.replace('E', '2')
        new_text = new_text.replace('H', '3')
        new_text = new_text[:-2]
        while len(new_text) < max_size:
            new_text = new_text + '0'
        with open(os.path.join(dir_2, filename), 'w') as file:
            file.write(new_text)
            
            
transformIntoDigits(dir_1, dir_2, max_size_1)
transformIntoDigits(dir_3, dir_4, max_size_2)

In [173]:
database = pd.read_csv('~/database_for_second_struct', nrows=3000)
database = database.drop(['class'], axis=1)
database['Check_A'] = [(len(item) < 800) for item in database['SEQUENCE_A']]
database['Check_B'] = [(len(item) < 800) for item in database['SEQUENCE_B']]
database

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,SEQUENCE_A,SEQUENCE_B,Check_A,Check_B
0,Q6ZNK6,Q9Y4K3,MEKPLTVLRVSLYHPTLGPSAFANVPPRLQHDTSPLLLGRGQDAHL...,MSLLNCENSCGSSQSESDCCVAMASSCSAVTKDDSVGGTASTGNLS...,True,True
1,Q9NR31,Q15797,MSFIFEWIYNGFSSVLQFLGLYKKSGKLVFLGLDNAGKTTLLHMLK...,MNVTSLFSFTSPAVKRLLGWKQGDEEEKWAEKAVDALVKKLKKKKG...,True,True
2,P33176,Q96EK5,MADLAECNIKVMCRFRPLNESEVNRGDKYIAKFQGEDTVVIASKPY...,MANVPWAEVCEKFQAALALSRVELHKNPEKEPYKSKYSARALLEEV...,False,True
3,Q9NPY3,P02745,MATSMGLLLLLLLLLTQPGAGTGADTEAVVCVGTACYTAHSGKLSA...,MEGPRGWLVLCVLAISLASMVTEDLCRAPDGKKGEAGRPGRRGRPG...,True,True
4,Q99576,O43524,MNTEMYQTPMEVAVYQLHNFSISFFSSLLGGDVVSVKLDNSASGAS...,MAEAPASPAPLSPLEVELDPEFEPQSRPRSCTWPLQRPELQASPAK...,True,True
...,...,...,...,...,...,...
2995,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,True,True
2996,Q8IUM7,O00327,MYRSTKGASKARRDQINAEIRNLKELLPLAEADKVRLSYLHIMSLA...,MADQRMDISSTISDFMSPGPTDLLSSSLGTSGVDCNRKRKGSSTDY...,False,True
2997,Q9H6Z4,O14980,MADLANEEKPAIAPPVFVFQKDKGQKSPAEQKNLSDSGEEPRGEAE...,MPAIMTMLADHAARQLLDFSQKLDINLLDNVVNCLYHGEGAQQRMA...,True,False
2998,Q9H6Z4,O14980,MADLANEEKPAIAPPVFVFQKDKGQKSPAEQKNLSDSGEEPRGEAE...,MPAIMTMLADHAARQLLDFSQKLDINLLDNVVNCLYHGEGAQQRMA...,True,False
2999,Q9H6Z4,O14980,MADLANEEKPAIAPPVFVFQKDKGQKSPAEQKNLSDSGEEPRGEAE...,MPAIMTMLADHAARQLLDFSQKLDINLLDNVVNCLYHGEGAQQRMA...,True,False

In [174]:
database = database[(database.Check_A == True) & (database.Check_B == True)]

In [175]:
database

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,SEQUENCE_A,SEQUENCE_B,Check_A,Check_B
0,Q6ZNK6,Q9Y4K3,MEKPLTVLRVSLYHPTLGPSAFANVPPRLQHDTSPLLLGRGQDAHL...,MSLLNCENSCGSSQSESDCCVAMASSCSAVTKDDSVGGTASTGNLS...,True,True
1,Q9NR31,Q15797,MSFIFEWIYNGFSSVLQFLGLYKKSGKLVFLGLDNAGKTTLLHMLK...,MNVTSLFSFTSPAVKRLLGWKQGDEEEKWAEKAVDALVKKLKKKKG...,True,True
3,Q9NPY3,P02745,MATSMGLLLLLLLLLTQPGAGTGADTEAVVCVGTACYTAHSGKLSA...,MEGPRGWLVLCVLAISLASMVTEDLCRAPDGKKGEAGRPGRRGRPG...,True,True
4,Q99576,O43524,MNTEMYQTPMEVAVYQLHNFSISFFSSLLGGDVVSVKLDNSASGAS...,MAEAPASPAPLSPLEVELDPEFEPQSRPRSCTWPLQRPELQASPAK...,True,True
8,P04003,P25942,MHPPKTPSGALHRKRKMAAWPFSRLWKVSDPILFQMTLIAALLPAV...,MVRLPLQCVLWGCLLTAVHPEPPTACREKQYLINSQCCSLCQPGQK...,True,True
...,...,...,...,...,...,...
2991,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,True,True
2992,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,True,True
2993,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,True,True
2994,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,True,True
2995,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,True,True

In [176]:
database = database.reset_index()
database = database.drop(['index'], axis=1)
database

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,SEQUENCE_A,SEQUENCE_B,Check_A,Check_B
0,Q6ZNK6,Q9Y4K3,MEKPLTVLRVSLYHPTLGPSAFANVPPRLQHDTSPLLLGRGQDAHL...,MSLLNCENSCGSSQSESDCCVAMASSCSAVTKDDSVGGTASTGNLS...,True,True
1,Q9NR31,Q15797,MSFIFEWIYNGFSSVLQFLGLYKKSGKLVFLGLDNAGKTTLLHMLK...,MNVTSLFSFTSPAVKRLLGWKQGDEEEKWAEKAVDALVKKLKKKKG...,True,True
2,Q9NPY3,P02745,MATSMGLLLLLLLLLTQPGAGTGADTEAVVCVGTACYTAHSGKLSA...,MEGPRGWLVLCVLAISLASMVTEDLCRAPDGKKGEAGRPGRRGRPG...,True,True
3,Q99576,O43524,MNTEMYQTPMEVAVYQLHNFSISFFSSLLGGDVVSVKLDNSASGAS...,MAEAPASPAPLSPLEVELDPEFEPQSRPRSCTWPLQRPELQASPAK...,True,True
4,P04003,P25942,MHPPKTPSGALHRKRKMAAWPFSRLWKVSDPILFQMTLIAALLPAV...,MVRLPLQCVLWGCLLTAVHPEPPTACREKQYLINSQCCSLCQPGQK...,True,True
...,...,...,...,...,...,...
1837,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,True,True
1838,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,True,True
1839,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,True,True
1840,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,True,True
1841,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,True,True

In [177]:
database = database.drop(['Check_A', 'Check_B'], axis=1)
database

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,SEQUENCE_A,SEQUENCE_B
0,Q6ZNK6,Q9Y4K3,MEKPLTVLRVSLYHPTLGPSAFANVPPRLQHDTSPLLLGRGQDAHL...,MSLLNCENSCGSSQSESDCCVAMASSCSAVTKDDSVGGTASTGNLS...
1,Q9NR31,Q15797,MSFIFEWIYNGFSSVLQFLGLYKKSGKLVFLGLDNAGKTTLLHMLK...,MNVTSLFSFTSPAVKRLLGWKQGDEEEKWAEKAVDALVKKLKKKKG...
2,Q9NPY3,P02745,MATSMGLLLLLLLLLTQPGAGTGADTEAVVCVGTACYTAHSGKLSA...,MEGPRGWLVLCVLAISLASMVTEDLCRAPDGKKGEAGRPGRRGRPG...
3,Q99576,O43524,MNTEMYQTPMEVAVYQLHNFSISFFSSLLGGDVVSVKLDNSASGAS...,MAEAPASPAPLSPLEVELDPEFEPQSRPRSCTWPLQRPELQASPAK...
4,P04003,P25942,MHPPKTPSGALHRKRKMAAWPFSRLWKVSDPILFQMTLIAALLPAV...,MVRLPLQCVLWGCLLTAVHPEPPTACREKQYLINSQCCSLCQPGQK...
...,...,...,...,...
1837,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...
1838,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...
1839,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...
1840,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...
1841,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...

In [178]:
database['SECOND_STRUCT_A'] = ['' for item in database['UNIPROT_SYMBOL_A']]
database['SECOND_STRUCT_B'] = ['' for item in database['UNIPROT_SYMBOL_B']]
database

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,SEQUENCE_A,SEQUENCE_B,SECOND_STRUCT_A,SECOND_STRUCT_B
0,Q6ZNK6,Q9Y4K3,MEKPLTVLRVSLYHPTLGPSAFANVPPRLQHDTSPLLLGRGQDAHL...,MSLLNCENSCGSSQSESDCCVAMASSCSAVTKDDSVGGTASTGNLS...,,
1,Q9NR31,Q15797,MSFIFEWIYNGFSSVLQFLGLYKKSGKLVFLGLDNAGKTTLLHMLK...,MNVTSLFSFTSPAVKRLLGWKQGDEEEKWAEKAVDALVKKLKKKKG...,,
2,Q9NPY3,P02745,MATSMGLLLLLLLLLTQPGAGTGADTEAVVCVGTACYTAHSGKLSA...,MEGPRGWLVLCVLAISLASMVTEDLCRAPDGKKGEAGRPGRRGRPG...,,
3,Q99576,O43524,MNTEMYQTPMEVAVYQLHNFSISFFSSLLGGDVVSVKLDNSASGAS...,MAEAPASPAPLSPLEVELDPEFEPQSRPRSCTWPLQRPELQASPAK...,,
4,P04003,P25942,MHPPKTPSGALHRKRKMAAWPFSRLWKVSDPILFQMTLIAALLPAV...,MVRLPLQCVLWGCLLTAVHPEPPTACREKQYLINSQCCSLCQPGQK...,,
...,...,...,...,...,...,...
1837,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,,
1838,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,,
1839,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,,
1840,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,,
1841,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,,

Узнаем, какие белки все-таки не были обработаны, и попробуем обработать их вручную, иначе удалим из таблицы.

In [179]:
dir_5 = '/home/yanina/protein-protein_interactions/sec_str_a_dig/'
for i in range(0, 1842):
    try:
        database['SECOND_STRUCT_A'][i] = open(dir_5 + database['UNIPROT_SYMBOL_A'][i] + '.txt').read()
    except Exception:
        print(str(i) + '\n')

15

550

689

In [180]:
database = database.drop(database.index[[15, 550, 689]])

In [181]:
database = database.reset_index()
database = database.drop(['index'], axis=1)
database

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,SEQUENCE_A,SEQUENCE_B,SECOND_STRUCT_A,SECOND_STRUCT_B
0,Q6ZNK6,Q9Y4K3,MEKPLTVLRVSLYHPTLGPSAFANVPPRLQHDTSPLLLGRGQDAHL...,MSLLNCENSCGSSQSESDCCVAMASSCSAVTKDDSVGGTASTGNLS...,1111222222222111111333311111111111122222111122...,
1,Q9NR31,Q15797,MSFIFEWIYNGFSSVLQFLGLYKKSGKLVFLGLDNAGKTTLLHMLK...,MNVTSLFSFTSPAVKRLLGWKQGDEEEKWAEKAVDALVKKLKKKKG...,1133333333333333333111112222222211111333333333...,
2,Q9NPY3,P02745,MATSMGLLLLLLLLLTQPGAGTGADTEAVVCVGTACYTAHSGKLSA...,MEGPRGWLVLCVLAISLASMVTEDLCRAPDGKKGEAGRPGRRGRPG...,1133333333333331111111111111111111122221111113...,
3,Q99576,O43524,MNTEMYQTPMEVAVYQLHNFSISFFSSLLGGDVVSVKLDNSASGAS...,MAEAPASPAPLSPLEVELDPEFEPQSRPRSCTWPLQRPELQASPAK...,1111111111111111111333333331111111111111111112...,
4,P04003,P25942,MHPPKTPSGALHRKRKMAAWPFSRLWKVSDPILFQMTLIAALLPAV...,MVRLPLQCVLWGCLLTAVHPEPPTACREKQYLINSQCCSLCQPGQK...,1111111111222222222111122211112221111111111222...,
...,...,...,...,...,...,...
1834,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,1113333333333333331111111111111111111111111122...,
1835,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,1113333333333333331111111111111111111111111122...,
1836,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,1113333333333333331111111111111111111111111122...,
1837,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,1113333333333333333333333333333333333333333333...,
1838,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,1113333333333333333333333333333333333333333333...,

In [182]:
dir_6 = '/home/yanina/protein-protein_interactions/sec_str_b_dig/'
lst = []
for i in range(0, 1839):
    try:
        database['SECOND_STRUCT_B'][i] = open(dir_6 + database['UNIPROT_SYMBOL_B'][i] + '.txt').read()
    except Exception:
        lst.append(i)
        print(str(i) + '\n')

199

305

330

375

405

443

458

495

535

604

615

664

716

721

722

766

775

853

864

882

1089

1090

1091

1092

1231

In [183]:
database = database.drop(database.index[lst])
database

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,SEQUENCE_A,SEQUENCE_B,SECOND_STRUCT_A,SECOND_STRUCT_B
0,Q6ZNK6,Q9Y4K3,MEKPLTVLRVSLYHPTLGPSAFANVPPRLQHDTSPLLLGRGQDAHL...,MSLLNCENSCGSSQSESDCCVAMASSCSAVTKDDSVGGTASTGNLS...,1111222222222111111333311111111111122222111122...,1111111111111111111111111111111111111111111111...
1,Q9NR31,Q15797,MSFIFEWIYNGFSSVLQFLGLYKKSGKLVFLGLDNAGKTTLLHMLK...,MNVTSLFSFTSPAVKRLLGWKQGDEEEKWAEKAVDALVKKLKKKKG...,1133333333333333333111112222222211111333333333...,1111111111333333331111111133333333333333331113...
2,Q9NPY3,P02745,MATSMGLLLLLLLLLTQPGAGTGADTEAVVCVGTACYTAHSGKLSA...,MEGPRGWLVLCVLAISLASMVTEDLCRAPDGKKGEAGRPGRRGRPG...,1133333333333331111111111111111111122221111113...,1111111111111111111111111111111111111111111111...
3,Q99576,O43524,MNTEMYQTPMEVAVYQLHNFSISFFSSLLGGDVVSVKLDNSASGAS...,MAEAPASPAPLSPLEVELDPEFEPQSRPRSCTWPLQRPELQASPAK...,1111111111111111111333333331111111111111111112...,1111111111111111111111111111111111111111111111...
4,P04003,P25942,MHPPKTPSGALHRKRKMAAWPFSRLWKVSDPILFQMTLIAALLPAV...,MVRLPLQCVLWGCLLTAVHPEPPTACREKQYLINSQCCSLCQPGQK...,1111111111222222222111122211112221111111111222...,1111333333333311111111111111111111111111111112...
...,...,...,...,...,...,...
1834,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...
1835,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...
1836,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...
1837,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,1113333333333333333333333333333333333333333333...,1111111111111111111133333333333331333333333333...
1838,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,1113333333333333333333333333333333333333333333...,1111111111111111111133333333333331333333333333...

In [184]:
database = database.reset_index()
database = database.drop(['index'], axis=1)
database

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,SEQUENCE_A,SEQUENCE_B,SECOND_STRUCT_A,SECOND_STRUCT_B
0,Q6ZNK6,Q9Y4K3,MEKPLTVLRVSLYHPTLGPSAFANVPPRLQHDTSPLLLGRGQDAHL...,MSLLNCENSCGSSQSESDCCVAMASSCSAVTKDDSVGGTASTGNLS...,1111222222222111111333311111111111122222111122...,1111111111111111111111111111111111111111111111...
1,Q9NR31,Q15797,MSFIFEWIYNGFSSVLQFLGLYKKSGKLVFLGLDNAGKTTLLHMLK...,MNVTSLFSFTSPAVKRLLGWKQGDEEEKWAEKAVDALVKKLKKKKG...,1133333333333333333111112222222211111333333333...,1111111111333333331111111133333333333333331113...
2,Q9NPY3,P02745,MATSMGLLLLLLLLLTQPGAGTGADTEAVVCVGTACYTAHSGKLSA...,MEGPRGWLVLCVLAISLASMVTEDLCRAPDGKKGEAGRPGRRGRPG...,1133333333333331111111111111111111122221111113...,1111111111111111111111111111111111111111111111...
3,Q99576,O43524,MNTEMYQTPMEVAVYQLHNFSISFFSSLLGGDVVSVKLDNSASGAS...,MAEAPASPAPLSPLEVELDPEFEPQSRPRSCTWPLQRPELQASPAK...,1111111111111111111333333331111111111111111112...,1111111111111111111111111111111111111111111111...
4,P04003,P25942,MHPPKTPSGALHRKRKMAAWPFSRLWKVSDPILFQMTLIAALLPAV...,MVRLPLQCVLWGCLLTAVHPEPPTACREKQYLINSQCCSLCQPGQK...,1111111111222222222111122211112221111111111222...,1111333333333311111111111111111111111111111112...
...,...,...,...,...,...,...
1809,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...
1810,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...
1811,Q99759,Q13163,MDEQEALNSIMNDLVALQMNRRHRMPGYETMKNKDTGHSNRQSDVR...,MLWLALGPFPAMENQVLVIRIKIPNSGAVDWTVHSGPQLLFRDVLD...,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...
1812,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,1113333333333333333333333333333333333333333333...,1111111111111111111133333333333331333333333333...
1813,O00161,O95295,MDNLSSEEIQQRAHQITDESLESTRRILGLAIESQDAGIKTITMLD...,MAGAGSAAVSGAGTPVAGPTGRDLFAEGLLEFLRPAVQQLDSHVHA...,1113333333333333333333333333333333333333333333...,1111111111111111111133333333333331333333333333...

In [185]:
database = database.drop(['SEQUENCE_A', 'SEQUENCE_B'], axis=1)
database

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,SECOND_STRUCT_A,SECOND_STRUCT_B
0,Q6ZNK6,Q9Y4K3,1111222222222111111333311111111111122222111122...,1111111111111111111111111111111111111111111111...
1,Q9NR31,Q15797,1133333333333333333111112222222211111333333333...,1111111111333333331111111133333333333333331113...
2,Q9NPY3,P02745,1133333333333331111111111111111111122221111113...,1111111111111111111111111111111111111111111111...
3,Q99576,O43524,1111111111111111111333333331111111111111111112...,1111111111111111111111111111111111111111111111...
4,P04003,P25942,1111111111222222222111122211112221111111111222...,1111333333333311111111111111111111111111111112...
...,...,...,...,...
1809,Q99759,Q13163,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...
1810,Q99759,Q13163,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...
1811,Q99759,Q13163,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...
1812,O00161,O95295,1113333333333333333333333333333333333333333333...,1111111111111111111133333333333331333333333333...
1813,O00161,O95295,1113333333333333333333333333333333333333333333...,1111111111111111111133333333333331333333333333...

In [186]:
database.to_csv("dig_in_one_column", index=False)

Теперь разнесем все признаки по отдельным столбцам.

In [187]:
for i in range(0, 796):
    database["second_struct_a_" + str(i)] = [int(x[i]) for x in database['SECOND_STRUCT_A']]

In [188]:
for i in range(0, 798):
    database["second_struct_b_" + str(i)] = [int(x[i]) for x in database['SECOND_STRUCT_B']]

In [189]:
database

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,SECOND_STRUCT_A,SECOND_STRUCT_B,second_struct_a_0,second_struct_a_1,second_struct_a_2,second_struct_a_3,second_struct_a_4,second_struct_a_5,...,second_struct_b_788,second_struct_b_789,second_struct_b_790,second_struct_b_791,second_struct_b_792,second_struct_b_793,second_struct_b_794,second_struct_b_795,second_struct_b_796,second_struct_b_797
0,Q6ZNK6,Q9Y4K3,1111222222222111111333311111111111122222111122...,1111111111111111111111111111111111111111111111...,1,1,1,1,2,2,...,0,0,0,0,0,0,0,0,0,0
1,Q9NR31,Q15797,1133333333333333333111112222222211111333333333...,1111111111333333331111111133333333333333331113...,1,1,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
2,Q9NPY3,P02745,1133333333333331111111111111111111122221111113...,1111111111111111111111111111111111111111111111...,1,1,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
3,Q99576,O43524,1111111111111111111333333331111111111111111112...,1111111111111111111111111111111111111111111111...,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,P04003,P25942,1111111111222222222111122211112221111111111222...,1111333333333311111111111111111111111111111112...,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,Q99759,Q13163,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...,1,1,1,3,3,3,...,0,0,0,0,0,0,0,0,0,0
1810,Q99759,Q13163,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...,1,1,1,3,3,3,...,0,0,0,0,0,0,0,0,0,0
1811,Q99759,Q13163,1113333333333333331111111111111111111111111122...,1122111111111111222222211111222221111111333333...,1,1,1,3,3,3,...,0,0,0,0,0,0,0,0,0,0
1812,O00161,O95295,1113333333333333333333333333333333333333333333...,1111111111111111111133333333333331333333333333...,1,1,1,3,3,3,...,0,0,0,0,0,0,0,0,0,0
1813,O00161,O95295,1113333333333333333333333333333333333333333333...,1111111111111111111133333333333331333333333333...,1,1,1,3,3,3,...,0,0,0,0,0,0,0,0,0,0

In [190]:
database.to_csv("dig_in_many_columns", index=False)

Смержим таблицу, где закодированы последовательности аминокислот с помощью частотного метода, и данную таблицу с вторичными структурами.

In [191]:
db_full = pd.read_csv('~/FINAL_DATE_', nrows=3000)

In [192]:
indexes_in_full = []
for i in range(0, 1814):
    check = 0
    for j in range(0, 3000):
        if database['UNIPROT_SYMBOL_A'][i] == db_full['UNIPROT_SYMBOL_A'][j] and database['UNIPROT_SYMBOL_B'][i] == db_full['UNIPROT_SYMBOL_B'][j]:
            indexes_in_full.append(j)
            break

In [193]:
new_db = db_full.loc[indexes_in_full]

In [194]:
new_db

,Unnamed: 0,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,class,seq_a_0,seq_a_1,seq_a_2,seq_a_3,seq_a_4,seq_a_5,...,seq_b_333,seq_b_334,seq_b_335,seq_b_336,seq_b_337,seq_b_338,seq_b_339,seq_b_340,seq_b_341,seq_b_342
0,0,Q6ZNK6,Q9Y4K3,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,Q9NR31,Q15797,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
3,3,Q9NPY3,P02745,0,7,8,8,3,0,7,...,0,0,0,0,0,0,0,0,0,0
4,4,Q99576,O43524,0,2,4,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
8,8,P04003,P25942,0,4,1,5,4,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2983,2983,Q99759,Q13163,1,0,4,4,3,1,2,...,0,0,0,0,0,0,0,0,0,0
2983,2983,Q99759,Q13163,1,0,4,4,3,1,2,...,0,0,0,0,0,0,0,0,0,0
2983,2983,Q99759,Q13163,1,0,4,4,3,1,2,...,0,0,0,0,0,0,0,0,0,0
2993,2993,O00161,O95295,1,1,4,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2993,2993,O00161,O95295,1,1,4,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [195]:
new_db = new_db.reset_index()
new_db

,index,Unnamed: 0,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,class,seq_a_0,seq_a_1,seq_a_2,seq_a_3,seq_a_4,...,seq_b_333,seq_b_334,seq_b_335,seq_b_336,seq_b_337,seq_b_338,seq_b_339,seq_b_340,seq_b_341,seq_b_342
0,0,0,Q6ZNK6,Q9Y4K3,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,1,Q9NR31,Q15797,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,1,0
2,3,3,Q9NPY3,P02745,0,7,8,8,3,0,...,0,0,0,0,0,0,0,0,0,0
3,4,4,Q99576,O43524,0,2,4,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,8,8,P04003,P25942,0,4,1,5,4,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,2983,2983,Q99759,Q13163,1,0,4,4,3,1,...,0,0,0,0,0,0,0,0,0,0
1810,2983,2983,Q99759,Q13163,1,0,4,4,3,1,...,0,0,0,0,0,0,0,0,0,0
1811,2983,2983,Q99759,Q13163,1,0,4,4,3,1,...,0,0,0,0,0,0,0,0,0,0
1812,2993,2993,O00161,O95295,1,1,4,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1813,2993,2993,O00161,O95295,1,1,4,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [196]:
new_db = new_db.drop(['Unnamed: 0', 'index'], axis=1)
new_db

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,class,seq_a_0,seq_a_1,seq_a_2,seq_a_3,seq_a_4,seq_a_5,seq_a_6,...,seq_b_333,seq_b_334,seq_b_335,seq_b_336,seq_b_337,seq_b_338,seq_b_339,seq_b_340,seq_b_341,seq_b_342
0,Q6ZNK6,Q9Y4K3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Q9NR31,Q15797,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,Q9NPY3,P02745,0,7,8,8,3,0,7,4,...,0,0,0,0,0,0,0,0,0,0
3,Q99576,O43524,0,2,4,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,P04003,P25942,0,4,1,5,4,0,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,Q99759,Q13163,1,0,4,4,3,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1810,Q99759,Q13163,1,0,4,4,3,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1811,Q99759,Q13163,1,0,4,4,3,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1812,O00161,O95295,1,1,4,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1813,O00161,O95295,1,1,4,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [197]:
for i in range(0, 796):
    column = 'second_struct_a_' + str(i)
    new_db[column] = database[column]

In [198]:
for i in range(0, 798):
    column = 'second_struct_b_' + str(i)
    new_db[column] = database[column]

Имеем итоговую таблицу, с которой и будет вестись работа:

In [199]:
new_db

,UNIPROT_SYMBOL_A,UNIPROT_SYMBOL_B,class,seq_a_0,seq_a_1,seq_a_2,seq_a_3,seq_a_4,seq_a_5,seq_a_6,...,second_struct_b_788,second_struct_b_789,second_struct_b_790,second_struct_b_791,second_struct_b_792,second_struct_b_793,second_struct_b_794,second_struct_b_795,second_struct_b_796,second_struct_b_797
0,Q6ZNK6,Q9Y4K3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Q9NR31,Q15797,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Q9NPY3,P02745,0,7,8,8,3,0,7,4,...,0,0,0,0,0,0,0,0,0,0
3,Q99576,O43524,0,2,4,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,P04003,P25942,0,4,1,5,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,Q99759,Q13163,1,0,4,4,3,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1810,Q99759,Q13163,1,0,4,4,3,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1811,Q99759,Q13163,1,0,4,4,3,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1812,O00161,O95295,1,1,4,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1813,O00161,O95295,1,1,4,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
new_db.to_csv("FINAL_DATE_SEC_STRUCT", index=False)